/* COLORS */
/* BREAKPOINTS */
/* FONT */
/* BORDER */
/* PRODUCTS */
/* SHIFTING */
/* MIXINS */
/* VARIABLES */
/* STYLE */
.card {
  height: 100%;
  width: clamp(175px, 100%, 325px);
}

.pictureWrapper {
  position: relative;
}
.pictureWrapper .button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.picture {
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;
}
.picture .image {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 8px;
}
.picture .image--selected {
  border-color: hsl(14, 86%, 42%);
}

.category {
  font-size: 0.9rem;
  color: hsl(12, 20%, 44%);
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}

.price {
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(14, 86%, 42%);
}